<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	data-th-href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
<title>MATERIA</title>
</head>
<body>
<div class="container">
<div data-th-replace="~{fragments/fragmentos :: navbar}"></div>
<form data-th-object="${m}" data-th-action="${band}?@{/modificarMateria}:@{/guardarMateria}" method="post" enctype="multipart/form-data">
		<div class="row g-3">
		
			<!-- <input type="hidden" class="form-control" th:if="${band}" th:field="*{id_Docente}">
			 -->
				<div class="col-md-6">
				    <label for="nombreID" class="form-label">Nombre</label>
				    <input type="text" class="form-control" id="nombreID" title="Ingresa un nombre valido, sin números o caracteres especiales." pattern="[A-Za-z\s]+" data-th-field="*{nombre}" required>
				</div>
				<div class="col-md-6">
				    <label for="anio" class="form-label">Año</label>
				    <input type="text" class="form-control" id="anio" data-th-field="*{anio}" pattern="\d{10}" title="Ingresa un número de 10 dígitos." required>		    
				</div>
				<div class="col-md-6">
				    <label for="codigo" class="form-label">Codigo</label>
				    <input type="text" class="form-control" id="codigo" title="Ingresa un correo valido." data-th-field="*{codigoMat}">
				</div>
				
				<div class="mb-e">
	            <label class="form-label">Carrera</label>
	            <select data-th-field="*{carrera}" class="form-control"><br>
	                <option value="">Seleccionar carrera...</option>
	                <option data-th-each="c : ${carreras}" data-th-value="${c.codigoCar}" data-th-text="${c.nombre + ' ' + c.duracion}"></option>
	            </select>
	        </div>
						
			</div>
			<button class="btn btn-success rounded-pill" type="submit">Registrar</button>
		</form>
			<div data-th-replace="~{fragments/fragmentos :: footer}"></div>
	</div>

	<script
		data-th-src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>